In [1]:
import pandas as pd
import numpy as np
import metapack as mp
import rowgenerators as rg
import matplotlib.pylab as plt

import statsmodels.formula.api as smf
import statsmodels.api as sm
%matplotlib inline

In [2]:
# Main dataset, but we'll use the drived data
# df = rg.dataframe('https://www.federalreserve.gov/econres/files/scf2019s.zip')

In [7]:
scf = rg.dataframe('https://www.federalreserve.gov/econres/files/scfp2019s.zip')

In [8]:
t = scf[['wgt','hhsex','agecl','age','edcl','racecl4','married','norminc','income']]
t = t[(t.married == 2) & # Not married
      (t.racecl4.isin([1,2])) & # Backs and whites
      (t.edcl.isin([2,4])) & # HS or College
      (t.age.between(25,45)) # Under 45
     ]
t = t[t.norminc <  t.norminc.quantile(.9)] # Less than 90% percentile of income
t['college'] = t.edcl == 4
print(len(t))
df = t

1372

In [9]:
r = smf.wls('norminc ~ C(hhsex) + age + C(college) + C(racecl4)', data=df, weights=df.wgt).fit()
np.round(r.rsquared,4)

0.2585

In [10]:
r = smf.wls('norminc ~ C(hhsex) + age + C(college) + C(racecl4) + C(hhsex):C(racecl4)', 
            data=df, weights=df.wgt).fit()
np.round(r.rsquared,4)

0.2639

In [13]:
df.head()

,wgt,hhsex,agecl,age,edcl,racecl4,married,norminc,income,college
25,5046.975165,1,1,28,4,1,2,27489.183342,27489.183342,True
26,5058.636930,1,1,28,4,1,2,27489.183342,27489.183342,True
27,5050.507640,1,1,28,4,1,2,27489.183342,27489.183342,True
28,5049.896460,1,1,28,4,1,2,27489.183342,27489.183342,True
29,5058.539110,1,1,28,4,1,2,27489.183342,27489.183342,True